/*#html, body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}*/

#mainBody {
	width: 1260px;
	/*padding-left: 5%;
	padding-right:5%;*/
	padding-top: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}

#mainBodyCust {
	width: 1500px;
	/*padding-left: 5%;
	padding-right:5%;*/
	padding-top: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	height: auto;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}


#header {
	height: 90px;
	background-color: #0A3440;
	color: #FFF;
	padding-top: 0px;
	background-image: url(../img/header_bg_02.jpg);
	background-repeat: no-repeat;
}
#menu {
	width: 1260px;		
	margin: 0px;	
	padding:0px;	
	height: 35px;
	/*display: inline;*/
	background-image: url(../img/nav_bg.png);
	background-repeat: repeat-x;	
	position: static;
}
#bodyContent {
	float: left;
	height: auto;
	background-color: white;
	overflow: hidden;
}

#bodyContent_reg {
	float: left;
	height: auto;
	background-color: white;
	width:1150px;
	overflow: hidden;
}
#bodyandhelp {
	border: solid 1px #FFFFFF;
	display: inline;
	float: left;
	width: 1115px;	
	background-color: #FFFFFF;
	/*overflow:auto;*/
	position: relative;
}
.activeMenuTabStyle {
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	/*display: run-in;*/
	text-decoration: none;
	padding: 0px 10px 0px 20px;
	/*margin-top: 15px;*/
}
.nav_login{
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../img/login.PNG);	
	height: 22px;
	width: 155px;	
	text-align: left;	
	padding: 5px 15px 3px 17px;
	text-decoration: none;
}
.login_btn {
	width:720px;
	margin-right: 0px;
	float: left;
	margin-top: 5px;	
	padding-left:1050px;
}
.nav_logout{
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	color: #FFFFFF;
	background-image: url(../img/nav_logout.png);
	height: 22px;
	width: 83px;
	/*margin-top: 1px;*/
	text-align: left;	
	padding: 5px 4px 3px 22px;
	text-decoration: none;
}
.logout_btn {
	/*width:720px;
	margin-right: 0px;
	float: right;
	margin-top: 2px;	
	padding-left:890px;*/
	float: left;
	padding-top: 4px;	
	padding-bottom: 4px;
	
}
.content{
	width: 1200px;	
	margin-left:50px;
}
.contentheader {	
	margin: 0px 0px 30px;
}
.section {
}

.headerText {
	font-weight: bold;	
	font-family: arial;
	font-size: 18px;
	color: #1b86a8;
}
.pageWidth950 {
	border: 1px solid #969696;
    width: 890px;         
}
.pageWidth600 {
	border: 1px solid #969696;
    width: 600px;         
}


.pageWidth600Col {
    width: 600px;         
}
.pageWidth890 {	
    width: 890px;         
}
.pageWidth858 {	
    width: 858px;         
}
.page858Col1{
	width: 250px;
}
.page858Col2{
	width: 558px;
}
.page858Col3{
	width: 100px;	
}

.menuCol2{
	width: 1250px;
}
.menuCol3{
	width: 200px;
}
.menuCol1{
	width: 100px;	
}


.imgdisplay {	
	padding-left: 20px;
}
.cmdTextStyleNew {
	width: 200px;
	border-bottom: #cccccc solid 1px;
	border-top: #cccccc solid 1px;
	border-right: #cccccc solid 1px;
	border-left: #cccccc solid 1px;
	border-style: inset;
	color: #000000;
	font-size: 12px;
	height: 20px;
	margin-left:7px;	
}
#footerNew{
	display: inline;
	float: left;	
	width: 1000px;
	background-color: #0d353d;	
}
.colFooterWidthNew1 {
	width: 160px;	
}
.colFooterWidthNew2 {
	width:475px;	
}
#footer {
	display: inline;
	float: left;	
	width: 1115px;	
}
.colFooterWidth1 {
	width: 170px;	
}
.colFooterWidth2 {
	width:745px;	
}
.cmdButstyle {
	margin: 0px;
	border-color: #072f3c;
	border-style: solid;
	border-width: 1px;
	/**border: none;*/
	background: url(../img/buttonbg.jpg) repeat;	
	text-decoration: none;
	padding: 0 10px 0 10px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	height: 23px;
	font-family: Arial;
}
.cmdButstyle1 {
	margin: 0px;
	border-color: #072f3c;
	border-style: solid;
	border-width: 1px;
	/**border: none;*/
	background: url(../img/buttonbg.jpg) repeat;	
	text-decoration: none;
	padding: 0 2px 0 2px;
	color: #FFF;
	font-size: 12px;
	font-weight: bold;
	height: 22px;
	font-family: Arial;
}

.btnlogin{
	margin: 0px;
	display: block;
	width: 124px;
	text-align: center;
	padding: 8px 5px;
	text-decoration: none;	
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	border: 1px solid #060;	
	/**/
	background: #a4b357; /* Old browsers */
	background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a4b357), color-stop(100%,#75890c)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #a4b357 0%,#75890c 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #a4b357 0%,#75890c 100%); /* IE10+ */
	background: linear-gradient(top, #a4b357 0%,#75890c 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px #007236;	
}
.btnCancel{
	display: block;
	width: 120px;
	text-align: center;
	padding: 8px 5px;
	text-decoration: none;
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFF;
	border: 1px solid #9e0b0f;
	/**/
	background: #ff3019; /* Old browsers */
	background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3019), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ff3019 0%,#cf0404 100%); /* IE10+ */
	background: linear-gradient(top, #ff3019 0%,#cf0404 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=0 ); /* IE6-9 */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 1px 1px 1px #9e0b0f;
}
.pageWidth1061 {
    width: 1090px;  
}

.colWidth1 {
	width:70px;	
}
.colWidth2 {
	width:800px
}
.pageWidth800 {	
	width: 800px;
   
}
.colInPanelWidth1 {
	width:150px;
}
.colInPanelWidth2 {
	width:750px;
}

.colInPanelWidth3 {
	width:250px;
}
.pageWidth600 {
	/*border: 1px solid #808080;*/
	width: 600px;
    background-color: #FFFFFF;
}
.colInDatapanelWidth {
	width:180px;	
}
.trans_history {
	color: #13677F;
	background-image: url(../img/Tranimg.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	text-decoration: underline;
	font-size: 12px;
	margin-left: 6px;
}
.cmdTextStyle2 {
	color: #000000;
	font-size: 12px;
	height: 23px;
	text-align: center;
	padding-left: 7px;
}
.cmdTextStyleBold {
	color: #000000;
	font-size: 12px;
	height: 23px;
	text-align: center;
	padding-left: 20px;
	font-weight: bold;
}
.custom{
	 position:absolute;
	 top:-150px;
	 left:200px;
	 right:-200px;
}
.headerTextItalic {
	color: #696969;
	font-size: 13px;
	font-family: Arial;
	font-style: italic;
	font-color: black;	
}
.searchResultTableFieldsCol10 {
	text-align: center;
	width: 10%;
	padding-left: 10px;
	border: #bde7f4 solid 1px;
}
.searchResultTableFieldsCol7 {
	text-align: center;
	width: 30%;
	padding-left: 10px;
	border: #bde7f4 solid 1px;
	text-align: center;
}
.searchResultTableFieldsCol5 {
	text-align: center;
	width: 8%;
	padding-left: 10px;
	border: #bde7f4 solid 1px;
}
.searchResultTableFieldsCol11 {
	text-align: center;
	width: 20%;
	padding-left: 10px;
	border: #bde7f4 solid 1px;
}

.iceDatTblActvSrtImage {
	border: none;
	padding: 10px;
	vertical-align: middle;
	margin: 5px;
	background-color: #107392;
	display: inline;
}
.headerLogoTextStyle {
	color: white;
	font-weight: bold;
	font-size: 25px;
	font: Arial;
	margin-top: 20px;
	padding-right: 10px;
	padding-left: 200px;	
	vertical-align: middle;
}
.headerPanStyle{
	margin-top: 20px;	
}
.labelText {
	/*font-weight: bold;
	 padding-left: 0px;*/
	font-family: arial;
	font-size: 15px;
	color: #003955;
	margin-left:20px;
}
.labelTextNew{	
	padding-left: 7px;
	font-family: arial;
	font-size: 15px;
	color: #003955;	
}
.labelText1{	
	padding-left: 7px;
	font-family: arial;
	font-size: 15px;
	color: #1D9BBF;	
}
.section_contenth4 {
	color: #1D9BBF;
	font-weight: bold;
	display: block;
	border-bottom: 2px solid #E5E5E5;
	padding-bottom: 5px;
	font-size: 14px;
	margin-bottom: 10px;
}
.subHeaderText {
	color: #1b86a8;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	padding-left: 5px;
}
.subHeaderMsg {
	color: #1b86a8;
	font-size: 11px;
	/*font-weight: bold;*/
	font-family: Arial;
	padding-left: 5px;
}
.cmdOutputTextStyle{
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	padding-left: 20px;
}
.cmdOutputTextStyle1 {
	font-size: 13px;
	color: #000000;
	font-weight: bold;
	padding-left: 7px;
}
.cmdOutputTextStyleNew{
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	padding-left: 48px;
	
}
.cmdTextStyle1{
	font-size: 12px;
	color: #000000;	
	padding-left: 7px;
}
.cmdTextStyle {
	width: 200px;
	border-bottom: #cccccc solid 1px;
	border-top: #cccccc solid 1px;
	border-right: #cccccc solid 1px;
	border-left: #cccccc solid 1px;
	border-style: inset;
	/*font-weight: bold;*/
	color: #000000;
	font-size: 12px;
	font-family: Arial;
	height: 23px;
	margin-left:20px;
}
.cmdTextStyle_reg {
	width: 120px;
	border-bottom: #cccccc solid 1px;
	border-top: #cccccc solid 1px;
	border-right: #cccccc solid 1px;
	border-left: #cccccc solid 1px;
	border-style: inset;
	/*font-weight: bold;*/
	color: #000000;
	font-size: 12px;
	font-family: Arial;
	height: 23px;
	margin-left:20px;
}

.SelectOneMenu_reg {
	width: 120px;
	border-bottom: #cccccc solid 1px;
	border-top: #cccccc solid 1px;
	border-right: #cccccc solid 1px;
	border-left: #cccccc solid 1px;
	border-style: inset;
	/*font-weight: bold;*/
	color: #000000;
	font-size: 12px;
	font-family: Arial;
	height: 23px;
	margin-left:20px;
}

/* Datatable classes start*/
.dataTableHeader {
	background: url('../img/hd_grid.gif') repeat-x #107392;
	height: 29px;
	color: #ffffff;
	padding-left: 5px;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	border: #bce1ed solid 1px;
	whitespace: nowrap;
	text-align: center;
}

.dataTableHeaderText {
	color: #ffffff;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
}
.searchResultTableRow1 {
	background: #eef7fa;
	color: #696969;
	height: 30px;
	padding-left: 5px;
	cursor: default;
	font-family: Arial;
	font-size: 12px;
}
.searchResultTableRow2 {
	background: #ffffff;
	color: #696969;
	height: 30px;
	padding-left: 5px;
	cursor: default;
	font-family: Arial;
	font-size: 12px;
}
/*------------ ice Panel Pop Up----------*/
.icePnlPopHdr {
	color: white;
	font-family: Arial;
	font-style: normal;
	font-size: 12px;
	font-weight: bold;
	padding-left: 10px;
	text-decoration: none;
	background: url('../img/hd_grid.gif') repeat-x #107392;
	width: 100%;
}
.mandatory {
	color: red;
	font-weight: bold;
	font-size: 12px;
	white-space: wrap;
}
.errors {
	font-family: Arial;
	font-weight: bold;
	color: red;
	font-size: 12px;
	white-space: nowrap
}
.headerTextBold {
	color: #5f5f5f;
	font-size: 13px;
	font-weight: bold;
	font-family: Arial;
	/*padding-left: 155px;*/
	text-decoration: underline;
}
.headerTextBlack {	
	font-size: 12px;
	font-family: Arial;
	padding-left: 155px;	
}
.headerTextBlackNoPad {	
	font-size: 12px;
	font-family: Arial;	
}
.headerTextLogin {
	color: #466CA3;
	font-size: 18px;
	font-weight: bold;
	font-family: Arial;
	padding-left: 10px;
	padding-right: 10px;
}
.footerText { 
	font-size: 13px;
	/*text-align: Center;*/
	padding-right: 10 px;
	padding-left: 10 px;
	font-family: Arial;
}
.footerText1 { 
	font-size: 13px;	
	font-family: Arial;
	color:#757575;
}
.footerLink {	
	font-size: 12px;	
	color:#3385AD;
	padding: 0 7px 0 7px;
	text-decoration: underline; 
}
.footerLink1 {	
	font-size: 12px;	
	color:#000000;
	padding: 0 7px 0 7px;
	text-decoration: underline; 
}
.dataTableHeaderPopup {
	background-color: #107392;
	color: #ffffff;
	padding-left: 5px;
	font-size: 12px;
	font-family: Arial;
	font-weight: bold;
	border: black solid 1px;;
}
.corePopup {
     position: absolute;
     z-index: 1001;
     width: 300px;
     height: 100px;
    /*top: -60%;
     left: 40%;*/
 }
.corePopup table {
       width: 100%;
  }
   
  .popupBody {
       margin-top: 25px;
      width: 100%;
      text-align: center;
       vertical-align: middle;
   }
   
   .popupHeaderWrapper {
       text-align: center;
       vertical-align: middle;
   }
   
  .popupHeaderText {
       float: left;
  }
   
  .popupHeaderImage {
       float: right;
       margin-top: 2px;
      margin-right: 2px;
   }
*----------- Tabbed Pane Component classes */
	/*Style class for change on tab hover*/
.icePnlTbOver .MidMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
}

.icePnlTbOver .MidMid a,.icePnlTbOver .MidMid div.ptfd {
	background: url(../img/hoverbg_2.jpg) no-repeat top left;
	border: none;
	cursor: pointer;
	padding: 4px 20px 3px 20px;
}

/*Style class for change on tab hover ends*/
	/*Style class for change on upper tab content color and whole content*/
.icePnlTbSetCnt {
	background-image: none;
	border-bottom: 1px solid #bce1ed;
	border-left: 1px solid #bce1ed;
	border-right: 1px solid #bce1ed;
	padding: 20px;
}

/*Style class for change on upper tab content color ends*/
.icePnlTbSetSpcr {
	width: 100%;
	border-bottom: 1px solid #bce1ed;
}

/* For Text background highlight on hover*/
.icePnlTbOver .MidMid td,.icePnlTbOver .MidMid div.ptfd {
	background-color: none;
	font-family: Arial;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: normal;
}

.icePnlTbOver .LftTop {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	height: 4px;
	border-left: 1px solid #bce1ed;
}

.icePnlTbOver .MidTop {
	background: url(../img/hoverbg_2.jpg) repeat-x top left;
	border: none;
	padding: 0;
	height: 4px;
}

.icePnlTbOver .RtTop {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	height: 4px;
	border-right: 1px solid #bce1ed;
}

.icePnlTbOver .LftMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	border-left: 1px solid #bce1ed;
}

.icePnlTbOver .RtMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	border-right: 1px solid #bce1ed;
}

.icePnlTbOver .LftBtm {
	border: none;
	padding: 0;
	width: 4px;
	height: 1px;
}

.icePnlTbOver .MidBtm {
	border: none;
	padding: 0;
	height: 1px;
}

.icePnlTbOver .RtBtm {
	border: none;
	padding: 0;
	width: 4px;
	height: 1px;
}

/* tabOn style classes */
.icePnlTbOn .MidMid td,.icePnlTbOn .MidMid div.ptfd {
	white-space: nowrap;
	text-align: center;
	font-family: Arial;
	font-size: 12px;
	font-weight: bold;
	color: #ffffff;
}

.icePnlTbOn .LftTop {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border-left: 1px solid #bce1ed;
	padding: 0;
	width: 4px;
	height: 4px;
}

.icePnlTbOn .MidTop {
	background: url(../img/hoverbg_2.jpg) repeat-x top left;
	padding: 0;
	height: 4px;
}

.icePnlTbOn .RtTop {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	height: 4px;
	border-right: 1px solid #bce1ed;
}

.icePnlTbOn .LftMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	border-left: 1px solid #bce1ed;
}

.icePnlTbOn .MidMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border: none;
	padding: 0;
	text-align: center;
}

.icePnlTbOn .MidMid a,.icePnlTbOn .MidMid div.ptfd {
	background: url(../img/hoverbg_2.jpg) no-repeat top left;
	padding: 4px 20px 3px 20px;
	margin: 3px;
	text-decoration: none;
	font-weight: bold;
	color: #666;
	cursor: pointer;
	display: block;
}

.icePnlTbOn .RtMid {
	background: url(../img/hoverbg_2.jpg) repeat top left;
	border-right: 1px solid #bce1ed;
	padding: 0;
	text-align: center;
	width: 4px;
}

/* tabOff style classes */
.icePnlTbOff {
	margin-right: 0;
}

.icePnlTbOff .MidMid td,.icePnlTbOff .MidMid div.ptfd {
	text-align: center;
	white-space: nowrap;
	font-weight: bold;
	font-family: Arial;
	font-size: 12px;
	color: #117797;
}

.icePnlTbOff .MidMid a:hover {
	font-weight: bold;
}

.icePnlTbOff .MidMid td:hover {
	color: #3581A5;
}

/**********************/
.icePnlTbOff .LftTop {
	background: url(../img/navbg2.jpg) no-repeat top left;
	padding: 0;
	width: 4px;
	height: 4px;
	border-left: 1px solid #bce1ed;
	border-top: 1px solid #bce1ed;
}

.icePnlTbOff .MidTop {
	background: url(../img/navbg2.jpg) repeat-x top left;
	padding: 0;
	height: 4px;
	border-top: 1px solid #bce1ed;
}

.icePnlTbOff .RtTop {
	background: url(../img/navbg2.jpg) no-repeat top left;
	padding: 0;
	width: 4px;
	height: 4px;
	border-top: 1px solid #bce1ed;
	border-right: 1px solid #bce1ed;
}

.icePnlTbOff .LftMid {
	background: url(../img/navbg2.jpg) repeat top left;
	border: none;
	padding: 0;
	width: 4px;
	border-left: 1px solid #bce1ed;
}

.icePnlTbOff .MidMid {
	background: url(../img/navbg2.jpg) repeat top left;
	border: none;
	padding: 0;
}

.icePnlTbOff .MidMid a,.icePnlTbOff .MidMid div.ptfd {
	background: url(../img/navbg2.jpg) no-repeat top left;
	border: none;
	padding: 4px 20px 3px 20px;
	margin: 3px;
	cursor: pointer;
	display: block;
}

.icePnlTbOff .RtMid {
	background: url(../img/navbg2.jpg) repeat top left;
	border-right: 1px solid #bce1ed;
	padding: 0;
	width: 4px;
}
.labelText_reg {
	font-weight: bold;
	/* padding-left: 0px;*/
	font-family: arial;
	font-size: 12px;
	color: #003955;
	margin-left:20px;
}

.labelText_reg_Wb {
    font-weight: normal;
    /* padding-left: 0px;*/
    font-family: arial;
    font-size: 12px;
    color: #003955;
    margin-left:20px;
}

.headerTextLogin_reg {
	color: #466CA3;
	font-size: 14px;
	font-weight: bold;
	font-family: Arial;
	padding-left: 10px;
	padding-right: 10px;
}
/* Style classes for panel tabs end*/