#html, body {
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

#content {
	width: 900px;
	text-align: left;
	padding: 30px 20px 10px 40px;
}
#content h1 {
	color: #555555;
	font-size: 20px;
	display: block;
	margin: 0px 0px 30px;
}
#content h2 {
	color: #555555;
	font-size: 20px;
	display: block;
	margin: 0px 0px 30px;
}
.content .section {
	color: #555;
}

.content .section .section_content {
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	border-left: 1px solid #969696;
	border-top-width: 0px;
	border-top-style: none;
	padding: 20px;
	float: left;
	width: 858px;
	margin-bottom: 30px;
}
#content .section .no_tab {
	border: 1px solid #969696;
	padding: 20px;
	float: left;
	width: 858px;
}
#content .section .section_content h5 {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 2px;
	font-size: 14px;
	margin-bottom: 10px;
}
#content .section .section_content h6 {
	font-weight: bold;
	padding-left: 250px;
	font-size: 14px;
	margin-bottom:0;
}




#content {
	width: 900px;
	text-align: left;
	padding: 30px 20px 10px 40px;
}
#content h1 {
	color: #555555;
	font-size: 20px;
	display: block;
	margin: 0px 0px 30px;
}
#content h2 {
	color: #555555;
	font-size: 20px;
	display: block;
	margin: 0px 0px 30px;
}
.content_reg .section {
	color: #555;
}
#content_reg 
{
	width: 1150px;
	text-align: left;
	padding: 30px 20px 10px 40px;
}
.content_reg .section .section_content {
	border-right: 1px solid #969696;
	border-bottom: 1px solid #969696;
	border-left: 1px solid #969696;
	border-top-width: 0px;
	border-top-style: none;
	padding: 20px;
	float: left;
	width: 1100px;
	margin-bottom: 30px;
}
#content_reg .section .no_tab {
	border: 1px solid #969696;
	padding: 20px;
	float: left;
	width: 858px;
}
#content_reg .section .section_content h5 {
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 2px;
	font-size: 14px;
	margin-bottom: 10px;
}
#content_reg .section .section_content h6 {
	font-weight: bold;
	padding-left: 250px;
	font-size: 14px;
	margin-bottom:0;
}
